:root {
  --text-color: #f0f4f5;
  --background-color: #263343;
  --accent-color: #d49466;
}

body {
  margin: 0;
  font-family: "Source Sans Pro";
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 8px 12px;
}

.navbar__logo {
  font-size: 24px;
  color: var(--text-color);
}

.navbar__logo {
  color: var(--accent-color);
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li:hover {
  background-color: var(--accent-color);
  border-radius: 6px;
}

.navbar__icons {
  display: flex;
  list-style: none;
  color: var(--text-color);
  padding-left: 0;
}

.navbar__icons li {
  padding: 8px 12px;
}

.navbar__togglebtn {
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--accent-color);
  display: none;
}
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar__menu li {
    width: 100%;
    text-align: center;
  }

  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
  }
  .navbar__togglebtn {
    display: block;
  }
  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }
}

main {
  height: 100vh;
  background-color: #f5f5f6;
  padding: 40px 0;
  font-size: 20px;
}

.picture-container {
  width: 50%;
  margin: auto;
  position: relative;
}
.picture {
  position: relative;
  top: 0;
  color: white;
  animation: fadeIn 1.5s;
}
.picture img {
  width: 100%;
}
.picture div:nth-child(1) {
  position: absolute;
  top: 10px;
  left: 10px;
}
.picture div:nth-child(2) {
  position: absolute;
  bottom: 10px;
  left: 50%;
  font-size: 40px;
  transform: translateX(-50%);
}
.left,
.right {
  background: transparent;
  border: none;
  padding: 40px 20px;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 1s;
}
.left:hover,
.right:hover {
  background: rgba(2, 20, 44, 0.4);
}
.left {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.right {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.btn {
  margin-top: 10px;
  text-align: center;
}
.btn button {
  padding: 10px;
  margin: 0 5px;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: #9da7b6;
  cursor: pointer;
  transition: background-color 1s;
}

.btn button.active {
  background-color: #18202b;
}

@keyframes fadeIn {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
